body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    /*COVER (IMAGE DE L'ALBUM)*/
    background-image: url('/img/image/HIT_ME_HARD_AND_SOFT/HIT_ME_HARD_AND_SOFT_\(photo_album\).jpg');
}

/* .titre_album_1{
    display: flex;
    flex-direction: center;
    justify-content: center;
    color: white;
}

.arizonia-regular {
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
    display: flex;
    flex-direction: center;
    justify-content: center;
    color: white;
} */